{% extends 'Index/index.html' %}

{% block body %}
<h1>Messages</h1>
<table cellspacing="0" width="100%" border="1" class="zui-table">
    <thead>
    <tr>
        <th>Channel Name</th>
        <th><a href="?order_field=view_count&limit={{ message_table.meta.limit }}">View Count</a></th>
        <th><a href="?order_field=forward_count&limit={{ message_table.meta.limit }}">Share Count</a></th>
        <th><a href="?order_field=reply_count&limit={{ message_table.meta.limit }}">Comment Count</a></th>
        <th><a href="?order_field=err&limit={{ message_table.meta.limit }}">ERR</a></th>
        <th>Text</th>
        <th ><a href="?order_field=created_at">Create Date</a></th>
    </tr>
    </thead>
    <tbody>
    {% for message in message_table.records %}
    <tr>
        <td><strong>{{ message.channel_name }}</strong></td>
        <td>{{ message.view_count }}</td>
        <td>{{ message.forward_count }}</td>
        <td>{{ message.reply_count }}</td>
        <td>{{ message.err }}</td>
        <td><a href="https://t.me/{{ message.peer }}/{{ message.external_id }}" target="_blank"><i>{{ message.body }}</i></a></td>
        <td>{{ message.created_at }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="?order_field={{ message_table.meta.order_field }}&limit=5">5</a>,
<a href="?order_field={{ message_table.meta.order_field }}&limit=10">10</a>,
<a href="?order_field={{ message_table.meta.order_field }}&limit=20">20</a>,
<a href="?order_field={{ message_table.meta.order_field }}&limit=50">50</a>,
<a href="?order_field={{ message_table.meta.order_field }}&limit=100">100</a>
{% endblock %}