{% extends 'Index/index.html' %}

{% block title %}Channel's Table{% endblock %}

{% block body %}
<div class="container-md pt-3">
    <h1>Found Channel's</h1>
    <table id="channel_table" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>{{ translation.channel_name }}</a></th>
            <th>{{ translation.channel_follower_count }}</a></th>
            <th>{{ translation.channel_add_date }}</a></th>
            <th>{{ translation.channel_check_date }}</a></th>
            <th>{{ translation.channel_condition }}</a></th>
        </tr>
        </thead>
    </table>
</div>

<script>
    $(document).ready(function() {
        var dataTable = $('#channel_table').DataTable({
            "processing" : true,
            "serverSide" : true,
            'serverMethod': 'get',
            "dom": '<"top"f>rt<"bottom"i<"table_length_select"l><p>><"clear">',
            'searching': false,
            "ajax": {
                "url": "http://{{ DB_HOST }}/api/channel/found/list",
                "dataSrc": "data",
                "dataFilter": function(data)
                {
                    var json = jQuery.parseJSON( data );
                    json.recordsTotal = json.meta.total;
                    json.recordsFiltered = json.meta.total;

                    return JSON.stringify( json ); // return JSON string
                },
                'data': function(data)
                {
                    var info = $('#channel_table').DataTable().page.info();
                    data.offset = info.page*10;
                    data.limit = info.length;

                    var orderIndex = $('#channel_table').DataTable().order()[0][0];
                    data.order_field = data.columns[parseInt(orderIndex)].name;

                    data.order_destination = $('#channel_table').DataTable().order()[0][1];
                }
            },
            "columns": [
                {
                    "name": "name",
                    "data": "name",
                    "render": function(data, type, row, meta){
                        data = '<a href="/channel/found/' + row.id + '" target="_blank">' + data + '</a>';
                        return data;
                    }
                },
                { "name": "follower_count", "data": "follower_count" },
                { "name": "created_at", "data": "add_date" },
                { "name": "check_date", "data": "check_date" },
                { "name": "condition", "data": "condition" }
            ],
            "order": [[ 1, "desc" ]]
        } );

        $('#channel_table').change( 'page.dt', function () {
            dataTable.draw();
        } );
    });
</script>

{% endblock %}