{% extends 'Index/index.html' %}

{% block title %}{{ channel.name }}{% endblock %}

{% block body %}
<div class="container-md pt-3">
    <h1>{{ channel.name }}</h1>
    <table class="table table-borderless table-responsive-md">
        <tr>
            <td class="table_channel_name_field"><strong>{{ translation.channel_name }}</strong></td>
            <td><a href="https://t.me/{{ channel.peer }}" target="_blank">{{ channel.name }}</a></td>
        </tr>
        <tr>
            <td><strong>{{ translation.channel_peer }}</strong></td>
            <td>{{ channel.peer }}</td>
        </tr>
        <tr>
            <td><strong>{{ translation.channel_condition }}</strong></td>
            <td>
                {% if channel.condition == 1 %}Added to Azeri Channel
                {% elseif channel.condition == 0 %}Not Selected
                {% elseif channel.condition == -1 %}Not Azeri Channel
                {% elseif channel.condition == -3 %}Blocked Azeri Channel
                {% elseif channel.condition == -4 %}Not a channel
                {% else %} None
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><strong>{{ translation.channel_add_date }}</strong></td>
            <td>{{ channel.add_date }}</td>
        </tr>
        <tr>
            <td><strong>{{ translation.channel_check_date }}</strong></td>
            <td>{{ channel.check_date }}</td>
        </tr>
        <tr>
            <td><strong>{{ translation.channel_follower_count }}</strong></td>
            <td>{{ channel.follower_count }}</td>
        </tr>
        <tr>
            <td><strong>Description</strong></td>
            <td><i>{{ channel.description }}</i></td>
        </tr>
    </table>
<br>
| {% if channel.condition != 1 %} <a href="?make_condition=1">Make "Added to Azeri Channel"</a> |{% endif %}
{% if channel.condition != 0 %} <a href="?make_condition=0">Make "Not Selected"</a> |{% endif %}
{% if channel.condition != -1 %} <a href="?make_condition=-1">Make "Not Azeri Channel"</a> |{% endif %}
{% if channel.condition != -3 %} <a href="?make_condition=-3">Make "Blocked Azeri Channel"</a> |{% endif %}
{% if channel.condition != -4 %} <a href="?make_condition=-4">Make "Not a channel"</a> |{% endif %}
</div>

{% endblock %}