<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome to Test Site!{% endblock %}</title>
    <style>
        body {
            width: 1200px;
            margin: 0 auto;
            font-family: Tahoma, Verdana, Arial, sans-serif;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
{% block menu %}{% include "Menu/menu.html" %}{% endblock %}
{% block body %}{% endblock %}
</body>
</html>