{% extends 'Index/index.html' %}

{% block title %}Admin Panel{% endblock %}

{% block menu %}{% endblock %}

{% block body %}
<!-- The Modal -->
<div class="login-box">
    <h2>Login</h2>
    <form action="/login" method="post">
        <div class="user-box">
            <input type="text" name="username" required>
            <label>Enter Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="password" required>
            <label>Enter Password</label>
        </div>
        <div class="user-box">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <button type="submit">Login</button>
        </div>
    </form>
</div>
{% endblock %}