{% extends 'Index/index.html' %}
{% block body %}
<div class="container-md pt-3">
<h1>Daily Top 5</h1>
<table class="table table-bordered table-hover table-responsive-md small">
    <thead>
    <tr>
        <th class="table_channel_name_field">{{ translation.channel_name }}</th>
        <th>{{ translation.message_view_count }}</th>
        <th>{{ translation.message_share_count }}</th>
        <th>{{ translation.message_comment_count }}</th>
        <th>{{ translation.message_err }}</th>
        <th>{{ translation.message_body }}</th>
        <th>{{ translation.message_create_date }}</th>
    </tr>
    </thead>
    <tbody>
    {% for message in main_page.daily_top_five_table %}
    <tr>
        <td><strong><a href="/channel/{{ message.channel_id }}" target="_blank">{{ message.channel_name }}</a></strong></td>
        <td>{{ message.view_count }}</td>
        <td>{{ message.forward_count }}</td>
        <td>{{ message.reply_count }}</td>
        <td>{{ message.err }}</td>
        <td><a href="https://t.me/{{ message.peer }}/{{ message.external_id }}" target="_blank"><i>{{ message.body }}</i></a></td>
        <td>{{ message.created_at }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<h1>Last 5 Message</h1>
<table class="table table-bordered table-hover table-responsive-md small">
    <thead>
    <tr>
        <th class="table_channel_name_field">{{ translation.channel_name }}</th>
        <th>{{ translation.message_view_count }}</th>
        <th>{{ translation.message_share_count }}</th>
        <th>{{ translation.message_comment_count }}</th>
        <th>{{ translation.message_err }}</th>
        <th>{{ translation.message_body }}</th>
        <th>{{ translation.message_create_date }}</th>
    </tr>
    </thead>
    <tbody>
    {% for message in main_page.last_five_message_table %}
    <tr>
        <td><strong><a href="/channel/{{ message.channel_id }}" target="_blank">{{ message.channel_name }}</a></strong></td>
        <td>{{ message.view_count }}</td>
        <td>{{ message.forward_count }}</td>
        <td>{{ message.reply_count }}</td>
        <td>{{ message.err }}</td>
        <td><a href="https://t.me/{{ message.peer }}/{{ message.external_id }}" target="_blank"><i>{{ message.body }}</i></a></td>
        <td>{{ message.created_at }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<h1>Weekly Top 5 (Not News)</h1>
<table class="table table-bordered table-hover table-responsive-md small">
    <thead>
    <tr>
        <th class="table_channel_name_field">{{ translation.channel_name }}</th>
        <th>{{ translation.message_view_count }}</th>
        <th>{{ translation.message_share_count }}</th>
        <th>{{ translation.message_comment_count }}</th>
        <th>{{ translation.message_err }}</th>
        <th>{{ translation.message_body }}</th>
        <th>{{ translation.message_create_date }}</th>
    </tr>
    </thead>
    <tbody>
    {% for message in main_page.weekly_top_five_not_news_table %}
    <tr>
        <td><strong><a href="/channel/{{ message.channel_id }}" target="_blank">{{ message.channel_name }}</a></strong></td>
        <td>{{ message.view_count }}</td>
        <td>{{ message.forward_count }}</td>
        <td>{{ message.reply_count }}</td>
        <td>{{ message.err }}</td>
        <td><a href="https://t.me/{{ message.peer }}/{{ message.external_id }}" target="_blank"><i>{{ message.body }}</i></a></td>
        <td>{{ message.created_at }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<h1>Top 5 Found Channel's</h1>
<table class="table table-bordered table-hover table-responsive-md small">
    <thead>
    <tr>
        <th class="table_channel_name_field">{{ translation.channel_name }}</th>
        <th>{{ translation.channel_follower_count }}</th>
        <th>{{ translation.channel_add_date }}</th>
        <th>{{ translation.channel_check_date }}</th>
        <th>{{ translation.channel_condition }}</th>
    </tr>
    </thead>
    <tbody>
    {% for found_channel in main_page.found_channel_table %}
    <tr>
        <td><strong><a href="/channel/found/{{ found_channel.id }}" target="_blank">{{ found_channel.name }}</a></strong></td>
        <td>{{ found_channel.follower_count }}</td>
        <td>{{ found_channel.add_date }}</td>
        <td>{{ found_channel.check_date }}</td>
        <td>
            {% if found_channel.condition == 1 %}Add to Azeri Channel
            {% elseif found_channel.condition == 0 %}Not Selected
            {% elseif found_channel.condition == -1 %}Not Azeri Channel
            {% elseif found_channel.condition == -2 %}Bad Azeri Channel
            {% elseif found_channel.condition == -3 %}Blocked Azeri Channel
            {% elseif found_channel.condition == -4 %}Not a channel
            {% else %} None
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <h1>Last 5 Found Channel's</h1>
    <table class="table table-bordered table-hover table-responsive-md small">
        <thead>
        <tr>
            <th class="table_channel_name_field">{{ translation.channel_name }}</th>
            <th>{{ translation.channel_follower_count }}</th>
            <th>{{ translation.channel_add_date }}</th>
            <th>{{ translation.channel_check_date }}</th>
            <th>{{ translation.channel_condition }}</th>
        </tr>
        </thead>
        <tbody>
        {% for found_channel in main_page.last_found_channel_table %}
        <tr>
            <td><strong><a href="/channel/found/{{ found_channel.id }}" target="_blank">{{ found_channel.name }}</a></strong></td>
            <td>{{ found_channel.follower_count }}</td>
            <td>{{ found_channel.add_date }}</td>
            <td>{{ found_channel.check_date }}</td>
            <td>
                {% if found_channel.condition == 1 %}Add to Azeri Channel
                {% elseif found_channel.condition == 0 %}Not Selected
                {% elseif found_channel.condition == -1 %}Not Azeri Channel
                {% elseif found_channel.condition == -2 %}Bad Azeri Channel
                {% elseif found_channel.condition == -3 %}Blocked Azeri Channel
                {% elseif found_channel.condition == -4 %}Not a channel
                {% else %} None
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}